@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 40px;
  margin: 40px auto;
}

.main {
  display: grid;
  max-width: 1024px;
  gap: 10px;
  margin: 0 auto;
}

.cardWrapper {
  width: 50%;
  height: 20em;
  margin: 0 auto;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card_image {
  width: 50%;
}

.card_front,
.card_back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card_front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(140, 211, 211);
}

.card_back {
  background-color: rgba(0, 0, 0, 0.1);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .cardWrapper {
    width: 80%;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .cardWrapper {
    width: 60%;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .main {
    grid-template-columns: 1fr;
  }
}
